.root {
    -fx-font-size: 16;
    -fx-background-color: #f9f9f9;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #666666;
}

#gcButton {
    -fx-border-color: #f2ac9c; 
    -fx-border-width: 3px;
    -fx-border-radius: 3px; 
    -fx-background-color: #f2ac9c; 
    -fx-text-fill: #f9f9f9;
}

#gcButton:pressed { 
    -fx-background-color: #f9f9f9; 
    -fx-text-fill: #f2ac9c;
}

#answerButtons {
    -fx-border-color: #87e9b8; 
    -fx-border-width: 3px;
    -fx-border-radius: 3px; 
    -fx-background-color: #f9f9f9; 
    -fx-text-fill: #737374;
}
#answerButtons:pressed {
    -fx-background-color: #87e9b8; 
    -fx-text-fill: #ffffff;   
}

#qLabels {
    -fx-text-fill: #737374;
}